@charset "UTF-8";

body{
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

h1{
    color: rgb(4, 109, 0)
}

h1#principal{
    text-align: center;
    background-color: green;
    color: white;
}

h2{
    color: rgb(51, 77, 49)
}

.basico{
    color: green;
}

.intermediario{
    color: yellow;
}

.avancado{
    color: red;
}